svg {
  display: block;
  margin: auto;
}

.landuse {
  fill: #efefef;
}
.water {
  fill: lightblue;
}
.roads {
  fill: none;
  stroke: #777;
  stroke-width: 0.3px;
}

.roads_residential {
  fill: none;
}

.roads_primary {
  fill: none;
}

.roads_trunk {
  fill: none;
}

.textData {
  font-size: 20px;
  font-family: helvetica;
}

.bikesUsed {
  padding-bottom: 50px;
}
