svg {
  display: block;
  margin: auto;
}

.landuse {
  fill: #efefef;
}
.water {
  fill: lightblue;
}
.roads {
  fill: none;
  stroke: #777;
  stroke-width: 0.3px;
}

.roads_residential {
  fill: none;
}

.roads_primary {
  fill: none;
}

.roads_trunk {
  fill: none;
}

.textData {
  font-size: 18px;
  font-family: helvetica;
  font-family: 'RailwayRegular';
}

.bikesUsed {
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'RailwayRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
}

.details {
  font-size: 12px;
  font-family: 'RailwayRegular';
}
