svg {
  display: block;
  margin: auto;
}

.landuse {
  fill: #efefef;
}
.water {
  fill: lightblue;
}
.roads {
  fill: none;
  stroke: #777;
  stroke-width: 0.3px;
}

.roads_residential {
  fill: none;
}

.roads_primary {
  fill: none;
}

.roads_trunk {
  fill: none;
}

.bike-points, .bikes-docked, .bikes-used, .title, .details {
  font-size: 18px;
  font-family: 'RailwayRegular';
}

.bikes-used {
  fill: green;
}

.bikes-docked {
  fill: rgb(152, 203, 43);
}

.title {
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
}

.details {
  font-size: 12px;
}
